@Model Puzzle

@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Angular.JS Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <p>Nothing here {{'yet' + '!'}}</p>
    <p>Math!: {{1 + 2}}</p>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
